<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    <div align="center">
        <h2>Add User</h2>
        <form action="/insertrecord" method="post">
            <table border="1">
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input name="username" type="text"></td>
                </tr>
                <tr>
                    <td><label for="name">Phone:</label></td>
                    <td><input name="userphone" type="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>